@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.text-container {
    min-width: 70ch/2ch;
    padding: 1.5rem;
    margin: auto;

    height: auto;
    display: block;
    align-self: flex-start;
    flex-basis: 30vw;
    margin-right: 1px;
    background-color: #222429;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 768px) {
    .text-container {
        height: 100%;
        overflow-y: auto;
        min-width: 100vw;
        padding: 1.5rem;
        margin: auto;
        line-height: 1.45rem;
        font-size: 1rem;
    }
}

p {
    padding: 1em 1em;
    position: relative;
}

.links {
    text-decoration: underline;
    outline: none;
}