.image-pane {
    height: auto;
    width: 100vw;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .image-pane {
        height: 100vh;
        width: calc(100vw + 100px);
    }
}