.image-pane {
    height: auto;
    width: 100vw;
    position: relative;
}

.image-pane:hover .info-pane {
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .image-pane {
        height: auto;
        min-width: 100vw;
        /* width: calc(100vw + 100px); */
    }
}