nav {
    position: relative;
    margin-right: 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.active {
    color: #72D7D1;
    text-decoration: underline;
}

a {
    outline: none;
    text-decoration: none;
    color: #fff;
}

a:focus {
    text-decoration: underline;
    color: #72D7D1;
}

a:hover {
    color: #72D7D1;
}

a:active {
    text-decoration: underline;
    color: #72D7D1;
}