* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}